/* common shared styles */
*{
    margin:0;
    padding:0;
}
    body{
        font-style: normal;
        font-family: 'Mulish';
       
    }
/* nav related styles */
 nav{
    display: flex;
    color: #131318;
    font-family: 'Mulish';
    font-size: 36px;
    justify-content: space-between;
    margin:20px;
    
       
 }
 .nav-title{
    font-weight: 800;
    margin-left:85px ;

 }
 
 .text-primary{
    color:orangered;

 }
 
 nav>ul{
    display: flex;
    font-size: 18px;
    align-items: center;
    
    
 }
 nav li{
    list-style: none;
    margin-right: 80px;
    font-size: 18px;
    font-weight: 400;
    
 }
 nav a{
    text-decoration: none;
    color: #424247;
 }
  .banner{
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    align-items: center;
    border:10px;
    margin-left: 100px;
    text-align: center;
    

 } 
 .banner-title {
    color: #FFF;
    font-family: 'Mulish';
    font-size: 64px;
    font-weight: 800;
    padding-top: 100px;
 }

 .banner p{
    color: #FFF;
    text-align: center;
    font-family: 'Mulish';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    padding: 60px;
 }
 .banner-input{
    justify-content: center;
    padding-top: 30px;
    display: inline-flex;
    padding: 16px;
    align-items:flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
 }
 .banner-input input{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    border-style: none;
 }
 .banner-input ::placeholder{
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: 'Mulish';
    font-size: 16px;
    font-weight: 400;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
        
 }
 .banner-input select{
    color: rgba(19, 19, 24, 0.50);
    width: 174px;
    height: 52px;
    border-radius: 7px;
    background: #FFF;
    text-align: center;
    font-family:'Mulish';
    font-size: 16px;
    border-style: none;
 }
 .banner-input button{
 color: #FFF;
 text-align: center;
 font-family: 'Mulish';
 font-size: 16px;
 font-weight: 700;
 width: 174px;
 height: 52px;
 border-radius: 8px;
 background: #FF5400;
 border-style: none;
 cursor: pointer;
 }
 .popular-tour-columns{
   margin:60px;
   justify-content: center;
   align-items: center;
   display: flex;

 }
 .popular-tour-description h2{
   color: #131318;
   text-align: center;
   font-family: 'Mulish';
   font-size: 40px;
   font-weight: 800;
   padding-bottom: 30px;
 }
 .popular-tour-description p{
   color: rgba(19, 19, 24, 0.70);
   font-family: 'Mulish';
   font-size: 16px;
   font-weight: 400;
   line-height: 26px; 

 }
 .popular-tour-description ul{
   color: rgba(19, 19, 24, 0.70);
   font-family: 'Mulish';
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   padding:10px 50px 50px 50px;

 }
 .popular-tour-image{
   border-radius: 16px;
background: url('../Images/Rectangle\ 4.png'), lightgray 50% / cover no-repeat;
 }
 .popular-tour-description button{
   color: #FFF;
   text-align: center;
   font-family: 'Mulish';
   font-size: 16px;
   font-weight: 700;
   width: 174px;
   height: 52px;
   border-radius: 8px;
   background: #FF5400;
   border-style: none;
   margin-bottom: 30px;
   cursor: pointer;
 }
 .newsletter{
   width: 1440px;

   
 }
 
 .newsletter-section{
   display: flex;
   margin:60px;
   justify-content: center;
   align-items: center;
   
   
 }

.newsletter-section h3{
   color: #131318;
   font-family: 'Mulish';
   font-size: 24px;
   font-weight: 800;
   line-height: normal;
 }
 .newsletter p{
   color: #5A5A5D;
   font-family: 'Mulish';
   font-size: 16px;
   font-weight: 400;
   line-height: 26px; 
   width: 350px;
   
 }
.newsletter-image{
   width: 672px;
height: 422px;
flex-shrink: 0;
border-radius: 16px;
background: url('../Images/Rectangle\ 8.png'), lightgray 50% / cover no-repeat;
}
 .newsletter-description input[type="text"], .newsletter-description input[type="email"]{
   width: 393px;
   height: 52px;
   flex-shrink: 0;
   border-radius: 8px;
   background: rgba(19, 19, 24, 0.05);
   border-style: none;
   margin: 10px;
    }
.btn-primary{
   width: 393px;
   height: 52px;
   flex-shrink: 0;
   border-radius: 8px;
   background: #FF5400;
   color: white;
   color: #FFF;
   text-align: center;
   font-family: 'Mulish';
   font-size: 20px;
   font-weight: 800;
   line-height: normal;
   border-style: none;
   cursor: pointer;
   margin: 10px;
}
footer{
   width: 1440px;
   height: 502px;
   background: rgba(19, 19, 24, 0.05);

}
footer h3{
   text-align:  center;
}
footer p{
   text-align: center;
}
